{% extends 'DrCall/base.html' %}

{% load crispy_forms_tags %}

{% block title %}User Login
{% endblock title %}

{% block content %}

{% comment %} <div class="container"> {% endcomment %}
    <div class="d-flex justify-content-center">
        <h1>User Login</h1>
    </div>
    <hr class="mt-2 mb-3"/>
    <div class="d-flex justify-content-center">
        <div class="w-50 p-3">
            <form method="POST" action="{% url 'main:login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    <div>
{% comment %} </div> {% endcomment %}

{% endblock content %}